* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  color: whitesmoke;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding: 0rem 2.5rem 0rem 2.5rem;
}



#canvas-elem::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/Bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;

}

#section-1 {

  --gap: 5rem;

  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5srem;
    padding-top: 3.5rem;


    .nav-elem:nth-child(2) {
      i {
        color: red;
      }

    }



    svg {
      max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }

  .middle {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;


    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 6rem;
      
       }

    h1 {
      font-size: 5rem;
      line-height: 0.8;
      text-align: right;
    }
  }

  .buttom {

    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .right {
      p {
        font-weight: 200;
        line-height: 1.5;
      }
    }


  }

  .first-line {
    width: 35rem;
    background-color: rgba(255, 0, 0, 0.396);
    height: 1px;
    position: absolute;
    transform: rotate(42deg);
    top: 59%;

  }

  .second-line {
    width: 15rem;
    background-color: rgba(255, 0, 0, 0.396);
    height: 1px;
    position: absolute;
    transform: rotate(135deg);
    top: 34%;
    right: 10%;
  }


}

#section-2 {

  .titles {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
margin-block: 10rem;
  }


  .title {
    display: flex;
    gap: 4rem;
    opacity: 0.5;
    padding-block: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;

    

    h1 {
      font-size: 3rem;
      font-weight: 100;
      line-height: 1;
    }

    

  }

  .title:hover {
      opacity: 1;
    }
}

main:has(#section-2 .title:hover) #canvas-elem::after{
  opacity: 0;
}

.images{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  
  img{
  height: 100%;
  width: 100%;
  object-fit: cover;
position:absolute;
  top:0;
  left:0;
  opacity: 0;
  transition: all 0.3s linear;
}

}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images #tommorowland{
  opacity: 1;
background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier{
  opacity: 1;
background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago{
  opacity: 1;
background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="phone"]:hover) .images #phone{
  opacity: 1;
background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk{
  opacity: 1;
background-color: rgba(1, 15, 92, 0.679);
}

main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy{
  opacity: 1;
background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="opera"]:hover) .images #opera{
  opacity: 1;
background-color: rgb(4, 7, 24);
}

#section-3 {
  padding-top:10rem ;
  padding-inline:10rem ;
  position: relative;
  z-index: 0;
  isolation: isolate;
  min-height: initial;

  .top, .buttom{
    display: flex;
    width: 100%;
        gap:10rem;
  }

  .left, .right{
    width: 50%;

  }

  .top .left{

    padding-right: 5rem;

    h3{
      font-size: 3rem;
      font-weight: 100;
      opacity: 0.6;
    
    }
  }

  .buttom .right{
   display: flex;
   position: relative;
   z-index: 100;

   p{
    opacity: 0.5;
    font-weight: 200;
    font-size: 0.6rem;
   }
}
}

#section-4 {
  padding-inline: 10rem;
  min-height: 50vh;

  .top, .buttom{
    display: flex;
    width: 100%;
        gap:10rem;
  }

  .left, .right{
    width: 50%;

  }

  .top .left{

    padding-right: 5rem;

    h3{
      font-size: 3rem;
      font-weight: 100;
      opacity: 0.6;
    
    }
  }

  .buttom .right{
   display: flex;
   gap: 2rem;
   position: relative;
   z-index: 100;

   p{
    opacity: 0.5;
    font-weight: 200;
    font-size: 1rem;

   }
}
}

/* Responsive Design */
@media (max-width: 768px) {
  section {
    padding: 0rem 1.5rem;
  }

  #section-1 {
    --gap: 2rem;

    nav {
      padding: 1rem 0;
      padding-top: 2rem;

      svg {
        max-width: 3.5rem;
      }
    }

    .middle {
      flex-direction: column;
      gap: 2rem;

      .left,
      .right {
        width: 100%;
      }

      .left {
        justify-content: flex-start;
        padding-block: 3rem;
      }

      h1 {
        font-size: 3rem;
        text-align: left;
      }
    }

    .buttom {
      flex-direction: column;
      gap: 2rem;

      .left,
      .right {
        width: 100%;
      }

      .right p {
        font-size: 0.9rem;
      }
    }

    .first-line {
      width: 20rem;
      top: 45%;
    }

    .second-line {
      width: 10rem;
      top: 25%;
      right: 5%;
    }
  }

  #section-2 {
    .titles {
      padding-left: 1rem;
      margin-block: 5rem;
    }

    .title {
      gap: 2rem;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 2rem;
      }

      small {
        font-size: 0.75rem;
      }
    }
  }

  #section-3 {
    padding-top: 5rem;
    padding-inline: 1.5rem;

    .top, .buttom {
      flex-direction: column;
      gap: 3rem;
    }

    .left, .right {
      width: 100%;
    }

    .top .left {
      padding-right: 0;

      h3 {
        font-size: 2rem;
      }
    }

    .buttom .right p {
      font-size: 0.5rem;
    }
  }

  #section-4 {
    padding-inline: 1.5rem;

    .top, .buttom {
      flex-direction: column;
      gap: 3rem;
    }

    .left, .right {
      width: 100%;
    }

    .top .left {
      padding-right: 0;

      h3 {
        font-size: 2rem;
      }
    }

    .buttom .right {
      flex-direction: column;
      gap: 1.5rem;

      p {
        font-size: 0.85rem;
      }
    }
  }
}

@media (max-width: 480px) {
  #section-1 {
    nav {
      svg {
        max-width: 3rem;
      }
    }

    .middle {
      h1 {
        font-size: 2.5rem;
      }
    }

    .first-line,
    .second-line {
      display: none;
    }
  }

  #section-2 {
    .title {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  #section-3 {
    .top .left h3 {
      font-size: 1.5rem;
    }
  }

  #section-4 {
    .top .left h3 {
      font-size: 1.5rem;
    }

    .buttom .right p {
      font-size: 0.75rem;
    }
  }
}