*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
color: whitesmoke;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  position: relative;
}
section {
  min-height: 100vh;
  border:2px solid white;
  position: relative;
  z-index: 2;
  padding: 0rem 2.5rem 0rem 2.5rem;
}

#section-1 {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5srem;
    padding-top: 3.5rem;
    
    
    .nav-elem:nth-child(2){
      i{
        color: red;
      }
     
    }

  

    svg{
       max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }
}